@page "/FoodTicket"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
<!-- below: authenticate user to access this page -->
@attribute [Authorize]

<PageTitle>Food Ticket</PageTitle>

@*navlink to go back a page*@
<NavLink class="btn btn-primary" href="/NewTicketHome">Back</NavLink> 

<h1>Food Ticket</h1>

@code {
    @*Ticket Information*@
    private string VendorSelection { get; set; } = "";
    private string Description { get; set; } = "";
    private string Location { get; set; } = "";
    private DateTime? ClickTime { get; set; }

    @*Function used to get time submit was clicked*@
    private void CaptureTime()
    {
        ClickTime = DateTime.Now;
    }
}

@*Vendor dropdown selector*@
<h3>Vendor:</h3>
<select class="form-select" @bind="VendorSelection">
    <option value="TestVendor1">TestVendor1</option>
    <option value="TestVendor2">TestVendor2</option>

</select>

@*Order*@
<h3>What would you like to order?:</h3>
<input type="text" class="form-control" @bind="Description" />

@*Location*@
<h3>Location (Room):</h3>
<input type="text" class="form-control" @bind="Location" />





@*Button for submitting tickets, no implementation currently*@
<p></p><button class="btn btn-primary" @onclick="CaptureTime">Submit Ticket</button>

@if (ClickTime != null) {
    <p>Button clicked at: @ClickTime</p>
}