@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
<!-- below: authenticate user to access this page -->
@attribute [Authorize]

<PageTitle>Event Planner App</PageTitle>

<h1>Welcome to the Event Planner App</h1>
<p>Navigation is on the sidebar currently</p>
<p>This will be changed to accommodate phone users better, and will likely have button navigation on this page</p>





